.header {
  height: 580px;
  background: url('https://hd.unsplash.com/photo-1455734729978-db1ae4f687fc')
  no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
#container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
#title{
  font-family:'Lobster', cursive;
  font-size: 6em;
  color: #cc8800;
  text-align: center;
  z-index: 1;
  clear: both;
}


h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  z-index: 1;
}



nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
