<div class="col l3 m4 s12">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light grey">
      <!-- <a ng-href="/#/events/{{e._id}}"><img ng-src="{{e.imageUrl}}"></a> -->
          <div class="card-content">
            <h6 class="truncate">{{show.event.imageUrl}}</h6>
            <h6 class="truncate">{{event.fee}}</h6>
            <h6 class="truncate">{{event.title}}</h6>
            <h6 class="truncate">{{event.eventType}}</h6>
            <h6 class="truncate">{{event.startTime}}</h6>
            <h6 class="truncate">{{event.endTime}}</h6>
            <h6 class="truncate">{{event.description}}</h6>
            <h6 class="truncate">{{event.location}}</h6>
          </div>
        </div>
      </div>
  </div>
