<!-- This is event index -->
<!-- <div>
  <div> Test: {{1+1}} </div>
<table>
  <tr ng-repeat="e in index.events">
    <td> {{e.eventType}}</td>
    <td> {{e.description}}</td>
  </tr>
</table>
</div> -->

<div ng-repeat ="e in index.events">
  <div class="col l3 m4 s12">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light grey">
        <a ng-href="/#/events/{{e._id}}"><img ng-src="{{e.imageUrl}}"></a>
      </div>
      <div class="card-content">
        <h6 class="truncate">{{e.eventType}}</h6>
        <p class="grey-text">{{e.title}}</p>
                <button class="btn blue waves-effect waves-light" ng-click="Delete.EventDeleteController(Delete.event._id)">Delete</button>
      </div>
    </div>
  </div>
</div>
