    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="Login" href="#/home" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#/login">login</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
<h1> this is home </h1>
