<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">coffee techie</h1>
        <div class="row center">
          <h5 class="header col s12 light">hello world</h5>
        </div>
        <div class="row center">
          <a ng-href="#/events" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">let's network!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="" alt="Unsplashed background img 1"></div>
  </div>
